:root {
    --orange50: rgb(253, 247, 240);
    --orange-gray: rgb(236, 231, 222);
    --orange400: rgb(251, 146, 60);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.font-bold {
    font-weight: 500;
}

.font-xsmall {
    font-size: 12px;
}

.font-small {
    font-size: 16px;
}

.font-medium {
    font-size: 18px;
}

.font-large {
    font-size: 24px;
}

.font-xlarge {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: clamp(150px, 20%, 250px) auto;
}

.top-bar {
    background-color: var(--orange50);
    position: relative;
    box-shadow:
        0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 12.5px 10px rgba(0, 0, 0, 0.035);
}

.side-nav {
    background-color: var(--orange400);
    grid-row: 1 / 3;
    font-weight: 500;
    padding: 16px;
}

.side-nav img {
    width: 25px;
    filter: invert(89%) sepia(22%) saturate(212%) hue-rotate(322deg) brightness(108%) contrast(98%);
    place-self: center;
}

.side-nav a {
    color: var(--orange50);
}

.top-nav{
    display: grid;
    grid-template-columns: 50px 150px;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
}

.top-nav img {
    width: 50px;
}

.mid-nav {
    display: grid;
    grid-template-columns: 50px 150px;
    gap: 16px;
    margin-bottom: 64px;
}

.bottom-nav {
    display: grid;
    grid-template-columns: 50px 150px;
    gap: 16px;
}

.content {
    background-color: rvar(--orange-gray);
}